@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #030B17;
  --font-golos: 'Golos Text', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-golos), sans-serif;
}